.agent-detail-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.agent-detail-section {
    width: 60%;
    padding: 20px;
}


.agentcard__title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.agentcard_icon {

    margin-top: 10px;
    margin-right: 10px;
}

.agentlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    width: 58%;
    margin: 0 auto;
    padding: 20px;
}

aside {
    width: 20%;
    text-align: center;
    margin-top: 20px;
    color: white;
    background-color: black;
    padding: 50px 20px;
}

.agent-detail__contactform {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;

    button {
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 3%;
        border: none;
        cursor: pointer;
        width: 30%;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.contactform__input,
.contactform__message {
    width: 100%;
    background-color: white;
}

.name {
    width: 45%;
}

.email {
    margin-left: 10%;
    width: 45%;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}