.agent-detail-container{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.agent-detail-section{
     width: 60%;
 padding: 20px;
}

.product__agent{
   
}

.agentcard__title{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.agentcard_icon {
   
    margin-top: 10px;
    margin-right: 10px;
}

.agentlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    width: 58%;
    margin: 0 auto;
    padding: 20px;
}

aside {
  width:20%;
   text-align: center;
    margin-top: 20px;
    color: white;
    background-color: black;
    padding: 50px 20px;
}

.agent-detail__contactform{
    width: 650px;
    margin-top: 20px;
}

